[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygments = "*"
pytest = "*"
hypothesis-pytest = "*"
strictyaml = "*"
more-itertools = "*"

[dev-packages]

[requires]
python_version = "3.9"
